@import url('https://fonts.googleapis.com/css?family=Kulim+Park&display=swap');

* {
    font-family: 'Kulim Park', sans-serif;
}

body {
    height: 100vh;
    background-image: url(../images/sunriseBackground.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
}

.navContainer {
    height: 8vh;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.navLink {
    font-size: 3rem;
    padding: 0 1rem;
    color: white;
}

.navContainer a {
    text-decoration: none;
}